{{ ansible_managed }}
Welcome to {{ ansible_hostname }}
Today's date is: {{ ansible_date_time.date }}.

This system is based on 
{{ ansible_distribution }} {{ ansible_distribution_version }}
deployed on {{ ansible_architecture }} architecture
